table {
    width: 96%;


}
mat-form-field {
    font-size: 13px;
    width: 96%;
    margin-left: 2%;

}
mat-icon {
    cursor: pointer;
}
.flex {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 14px 0;

}
